.service {
    @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    }
    @media screen and (min-width: 768px) {
    display: flex;
    
     margin-bottom: 50px;
    justify-content: center;
    margin-top: 66px;
    
   }
}
/*.service .item {
    margin-right: 8px;
}
.service .item:last-child {
    margin-right: 0;
}*/
.service .item {
    @media screen and (min-width: 480px) and (max-width: 767px) {
        margin-right: 8px;
        margin-bottom: 15px;
        &:last-child {
        margin-right: 0;
    }
}
@media screen and (min-width: 768px) {
    margin-right: 8px;
}
}
.title-service {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight:700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: $title-text-color;
}
.title-primary {
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
    font-weight:700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;   
}
.text-service {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 24px;
    font-weight:400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $secondary-text-color;   
}

.service-examples {
    @media screen and (min-width: 768px) {
    display:  flex;
    flex-wrap: wrap;
    
    }
}
.service-examples .item {
    @media screen and (max-width: 767px) {
       width: 450px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
        margin-right: 30px;
        margin-bottom: 30px;
        &:nth-child(2n) {
            margin-right: 0;
            }
            &:nth-last-child(-n + 2) {
            margin-bottom: 0;
            }
        
        }
    @media screen and (min-width: 1200px) {
        width: 370px;
        margin-right: 30px;
        margin-bottom: 30px;
         &:nth-child(3n) {
        margin-right: 0;
        }
        &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }                
    }
}
.service-examples .item:hover {
    box-shadow: 0px 1px 3px $accent-color, 0px 1px 1px $accent-color, 0px 2px 1px $accent-color;
}
.text-project {
   // position: relative;
    overflow: hidden;
}
.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
}
.project {
    display: flex;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;
}
.description {
    margin-top: 0;
    margin-bottom: 0;
    font-weight:400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}
.text-project:hover {
    position: relative;
}
.text-project:not(:hover) {
    animation: hideover 750ms;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes hideover {
    from {
      position: relative;
    }
    to {
      position: initial;      
    }
  }

.text-project:hover .project-overlay {
    transform: translateY(0);

}
