.section-work {
    @media (max-width: 1199px) {
        display: none;
    }
}
.section-work {
    padding-top: 0;
    padding-bottom: 94px;
}
.example {
    display: flex;
}
.example .item:not(:last-child) {
    margin-right: 30px;
}
.photo-work {
    position: relative;
    display: flex;
}
.application {
    bottom: 0;
    position: absolute;
    display: block;
    margin-top: 0;
    height: 70PX;
    width: 100%;
    background-color: rgba(47,48,58,0.8); 
    
}
.title-application {
    padding-top: 27px;
    padding-bottom: 27px;
    margin-top: 0;
    margin-bottom: 0;
    font-style:normal;
    font-weight:700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: $primary-text-color;
}
